body {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	background-image: url(hhttps://raw.githubusercontent.com/SSFX/ssfx.github.io/master/images/ssfx_pen_tool_by_ssfxdesigns-d8khwbi.png);
}

body h1{
    color: #456456;
    font-family: tahoma;
    text-align: center;
}

body p {
	text-align: center;
}
