body {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	background-image: url(https://github.com/SSFX/ssfx.github.io/blob/master/footer_lodyas.png);
}

body h1{
    color: #456456;
    font-family: tahoma;
    text-align: center;
}

body p {
	text-align: center;
}
